name: Semgrep

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Run custom semgrep rules
        run: |
          pip install semgrep --quiet
          semgrep --config .semgrep/rules.yml --error .
