name: Semgrep

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run custom semgrep rules
        run: |
          pip install semgrep --quiet
          semgrep --config .semgrep/rules.yml --error .
